<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ericlai.express.dao.QueryMapper" >

    <resultMap id="BaseResultMap" type="com.ericlai.express.dto.QueryDto">
        <id column="PAC_ID" property="pacId" jdbcType="VARCHAR" />
        <result column="SENDER_NAME" property="senderName" jdbcType="VARCHAR" />
        <result column="SENDER_PHONE" property="sendPhone" jdbcType="VARCHAR" />
        <result column="RECVER_NAME" property="recverName" jdbcType="VARCHAR" />
        <result column="RECVER_PHONE" property="recverPhone" jdbcType="VARCHAR" />
        <result column="POSTER_NAME" property="posterName" jdbcType="VARCHAR" />
        <result column="POSTER_PHONE" property="posterPhone" jdbcType="VARCHAR" />
        <result column="PAC_STATUS" property="pacStatus" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="BaseResultMap1" type="com.ericlai.express.dto.QueryDto">
        <id column="PAC_ID" property="pacId" jdbcType="VARCHAR" />
        <result column="SENDER_NAME" property="senderName" jdbcType="VARCHAR" />
        <result column="SENDER_PHONE" property="sendPhone" jdbcType="VARCHAR" />
        <result column="RECVER_NAME" property="recverName" jdbcType="VARCHAR" />
        <result column="RECVER_PHONE" property="recverPhone" jdbcType="VARCHAR" />
        <result column="POSTER_NAME" property="posterName" jdbcType="VARCHAR" />
        <result column="POSTER_PHONE" property="posterPhone" jdbcType="VARCHAR" />
        <result column="PAC_STATUS" property="pacStatus" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="BaseResultMap2" type="com.ericlai.express.dto.QueryDto">
        <id column="PAC_ID" property="pacId" jdbcType="VARCHAR" />
        <result column="SENDER_NAME" property="senderName" jdbcType="VARCHAR" />
        <result column="SENDER_PHONE" property="sendPhone" jdbcType="VARCHAR" />
        <result column="RECVER_NAME" property="recverName" jdbcType="VARCHAR" />
        <result column="RECVER_PHONE" property="recverPhone" jdbcType="VARCHAR" />
        <result column="POSTER_NAME" property="posterName" jdbcType="VARCHAR" />
        <result column="POSTER_PHONE" property="posterPhone" jdbcType="VARCHAR" />
        <result column="PAC_STATUS" property="pacStatus" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="AddressMap" type="com.ericlai.express.dto.Address">
        <id column="ADDR_ID" property="addrId" jdbcType="INTEGER" />
        <result column="ADDR_INFO" property="addrInfo" jdbcType="VARCHAR" />
        <result column="PERSON_ID" property="personId" jdbcType="VARCHAR" />
        <result column="DELETE_FLAG" property="deleteFlag" jdbcType="VARCHAR" />
    </resultMap>

    <select id="getAddress" resultMap="AddressMap">
        SELECT
          addr.ADDR_ID,
          addr.ADDR_INFO,
          addr.PERSON_ID,
          addr.DELETE_FLAG
        FROM
          person AS per
          LEFT JOIN address AS addr ON per.PERSON_ID = addr.PERSON_ID
        WHERE
          per.PERSON_ID = #{personId}
          AND per.DELETE_FLAG != 1
    </select>

    <select id="getPackageInfoByPhone" resultMap="BaseResultMap">
        SELECT
          pac.PAC_ID,PAC_STATUS,
          sender.NAME AS SENDER_NAME, sender.PHONE AS SENDER_PHONE,
          recver.NAME AS RECVER_NAME,recver.PHONE AS RECVER_PHONE,
          poster.NAME AS POSTER_NAME,poster.PHONE AS POSTER_PHONE
      FROM package AS pac
          LEFT JOIN person AS sender ON pac.SEND_ID = sender.PERSON_ID
          LEFT JOIN person AS recver ON pac.REC_ID = recver.PERSON_ID
          LEFT JOIN person AS poster ON pac.POS_ID = poster.PERSON_ID
      <if test="senderPhone != null">
          WHERE sender.PHONE = #{senderPhone}
      </if>
      <if test="recverPhone != null">
          WHERE recver.PHONE = #{recverPhone}
      </if>
            AND pac.DELETE_FLAG != 1
            AND sender.DELETE_FLAG != 1
            AND recver.DELETE_FLAG != 1
            AND poster.DELETE_FLAG != 1
    </select>

    <select id="getPackageIdByUserName" resultMap="BaseResultMap1">
        SELECT
          pac.PAC_ID
        FROM package AS pac
            LEFT JOIN person AS sender ON pac.SEND_ID = sender.PERSON_ID
            LEFT JOIN person AS recver ON pac.REC_ID = recver.PERSON_ID
        WHERE
            sender.LOG_NM = #{userName}
            OR recver.LOG_NM = #{userName}
            AND pac.DELETE_FLAG != 1
            AND sender.DELETE_FLAG != 1
            AND recver.DELETE_FLAG != 1
    </select>

    <select id="getPackageInfoByPacId" resultMap="BaseResultMap2">
        SELECT
        pac.PAC_ID,PAC_STATUS,
        sender.NAME AS SENDER_NAME, sender.PHONE AS SENDER_PHONE,
        recver.NAME AS RECVER_NAME,recver.PHONE AS RECVER_PHONE,
        poster.NAME AS POSTER_NAME,poster.PHONE AS POSTER_PHONE
        FROM package AS pac
        LEFT JOIN person AS sender ON pac.SEND_ID = sender.PERSON_ID
        LEFT JOIN person AS recver ON pac.REC_ID = recver.PERSON_ID
        LEFT JOIN person AS poster ON pac.POS_ID = poster.PERSON_ID
        WHERE
          pac.PAC_ID = #{pacId}
          AND pac.DELETE_FLAG != 1
          AND sender.DELETE_FLAG != 1
          AND recver.DELETE_FLAG != 1
          AND poster.DELETE_FLAG != 1
    </select>


</mapper>